services:
  auth:
    build: ./auth
    restart: unless-stopped
    ports:
    - "8000:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - ENGINE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@auth_db:5432/authdb

    depends_on:
      auth_db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  auth_db:
    image: postgres
    restart: unless-stopped
    volumes: 
    - postgres_data:/var/lib/postgresql
    environment:
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - POSTGRES_DB=authdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d authdb"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  notes:
    build: ./notes
    restart: unless-stopped
    ports:
    - "8001:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - ENGINE_URL=postgresql://postgres:${POSTGRES_PASSWORD_NOTES}@notes_db:5432/notesdb
    depends_on:
      notes_db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  notes_db:
    image: postgres
    restart: unless-stopped
    volumes: 
    - postgres_data_notes:/var/lib/postgresql
    environment:
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_NOTES}
    - POSTGRES_DB=notesdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d notesdb"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
  consumer:
  build: consumer 
  depends_on:
    db:
      condition: service_healthy
    kafka:
       condition: service_healthy
  consumer-log:
  build: consumer-log 
  depends_on:
    db:
      condition: service_healthy
    kafka:
       condition: service_healthy
    environment:
      DATABASE_URL:
    volumes:
      - ./consumer-log:/app/consumer-log


  react:
    build: ./react
    restart: unless-stopped
    ports:
    - "3000:80"

  caddy:
    build: ./caddy
    restart: unless-stopped
    ports:
    - "80:80"
    depends_on:
    - auth
    - notes
    - react

  broker:
    image: apache/kafka:latest
    restart: unless-stopped
    ports:
    - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
        KAFKA_NUM_PARTITIONS:3
    healthcheck:
        test: ["CMD","bash", "-c", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list"]
        interval: 10s
        timeout: 5s
        retries: 5



volumes:
  postgres_data:
  postgres_data_notes:

  